export RUN_ENVIRONMENT=local
export PYTHONPATH=$PYTHONPATH  "src/canopyhydro" pytest

export CANOPYHYDRO_CONFIG="/code/code/Research/canopyHydrodynamics/canopyhydro_config.toml"
export CANOPYHYDRO_LOG_CONFIG="/code/code/Research/canopyHydrodynamics/logging_config.yml"
