export RUN_ENVIRONMENT=local
export PYTHONPATH=$PYTHONPATH "src/canhydro" pytest

export CANOPYHYDRO_CONFIG="/code/code/canopyHydrodynamics/canopyhydro_config.toml"
export CANOPYHYDRO_LOG_CONFIG="/code/code/canopyHydrodynamics/logging_config.toml"
