# Byte-compiled / optimized / DLL files
__pycache__/

#data
data/output/*
data/test/Secrest*
data/input/Secrest*
data/docker_data*
data/validation*

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

#logging
*.log

#ruff
.ruff_cache

#networking
known_hosts

#data
data/notReadIn/
data/output/*
data/validation_data*
data/test/*
data/output/*
data/validation*
data/docker_data*
# data/test*

#networking
*known_hosts

# Environments
venv/

#VS Code
.vscode/settings.json

# Local testing files
snippets.ipynb
local.py
compare_utils.py
changes_for_0.2.0
