geopandas==0.12.2
geopandas==0.14.4
line_profiler==4.1.2
matplotlib==3.5.1
matplotlib==3.8.4
memory_profiler==0.61.0
networkx==2.6.3
networkx==3.3
numpy==1.26.4
open3d==0.18.0
pytest==8.2.0
scipy==1.11.4
Shapely==2.0.2
toml==0.10.2
