# CI packages 
jupytext==1.16.2
pytest==8.3.3
ruff==0.5.1
sphinx
sphinx_rtd_theme
pre-commit

# Documents packages
myst-parser
pandoc
sphinx
sphinx-rtd-theme==3.0.1
sphinxcontrib-napoleon
nbsphinx
ipykernel