debugpy
flask

geopandas
jupytext==1.16.2

# optional
line_profiler==4.1.2
matplotlib==3.9.0
memory_profiler==0.61.0
networkx==3.4.1
numba==0.59.1
numpy==1.26.4
open3d==0.18.0
pytest==8.2.1
pyyaml
rich
rustworkx
rustworkx
scipy==1.13.1
Shapely==2.0.4
toml==0.10.2
# timeit
